{% extends "layout.html" %}
{% block content %}
<section class="section mt-5">
    <div class="card">
        <h3 class="card-title m-4">About this website</h3>
        <div class="card-body">
            <p>This application allows to quickly check weather conditions for any location in the world.
                The data is gathered through the API of the OpenWeatherMap.org. Country of each city is represented by
                its flag, converted from the ISO 3166 country code by emoji-country-flag module. Sunrise and
                sunset times are converted from the UTC time to the local time. There is also a feature to check
                the city's location on google.maps.
        </p>
        </div>

    </div>

</section>

{% endblock %}